<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>descender</key>
    <integer>-200</integer>
    <key>familyName</key>
    <string>Ribes</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2018/11/15 21:51:33</string>
    <key>openTypeHheaAscender</key>
    <integer>975</integer>
    <key>openTypeHheaDescender</key>
    <integer>-285</integer>
    <key>openTypeHheaLineGap</key>
    <integer>125</integer>
    <key>openTypeNameDesigner</key>
    <string>Luigi Gorlero</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://www.luigigorlero.com</string>
    <key>openTypeNameLicense</key>
    <string>SIL OpenFont License</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Collletttivo</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://collletttivo.it</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Light</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>975</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-285</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>125</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>CLT</string>
    <key>openTypeOS2WeightClass</key>
    <integer>200</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>908</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>281</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-8</integer>
      <integer>0</integer>
      <integer>520</integer>
      <integer>528</integer>
      <integer>700</integer>
      <integer>708</integer>
      <integer>750</integer>
      <integer>758</integer>
    </array>
    <key>postscriptFontName</key>
    <string>Ribes-Light</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-212</integer>
      <integer>-200</integer>
    </array>
    <key>styleMapFamilyName</key>
    <string>Ribes Light</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Light</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>100</integer>
    <key>xHeight</key>
    <integer>520</integer>
  </dict>
</plist>
