<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-28</integer>
      <key>public.kern2.X</key>
      <integer>-12</integer>
      <key>public.kern2.Z</key>
      <integer>-16</integer>
    </dict>
    <key>approxequal</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-24</integer>
      <key>public.kern2.X</key>
      <integer>-12</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>asciitilde</key>
    <dict>
      <key>public.kern2.Hbar</key>
      <integer>-12</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-32</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>-4</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>public.kern2.Hbar</key>
      <integer>-48</integer>
      <key>public.kern2.J</key>
      <integer>16</integer>
      <key>public.kern2.O</key>
      <integer>-12</integer>
      <key>public.kern2.T</key>
      <integer>-76</integer>
      <key>public.kern2.U</key>
      <integer>-12</integer>
      <key>public.kern2.V</key>
      <integer>-120</integer>
      <key>public.kern2.Y</key>
      <integer>-104</integer>
    </dict>
    <key>braceright</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-12</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>currency</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-12</integer>
      <key>public.kern2.X</key>
      <integer>-4</integer>
    </dict>
    <key>dagger</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-12</integer>
      <key>public.kern2.J</key>
      <integer>-16</integer>
    </dict>
    <key>exclamdown</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-28</integer>
    </dict>
    <key>florin</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-12</integer>
      <key>public.kern2.a</key>
      <integer>-8</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>public.kern2.Hbar</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-16</integer>
      <key>public.kern2.V</key>
      <integer>-8</integer>
      <key>public.kern2.Y</key>
      <integer>-16</integer>
    </dict>
    <key>greater</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.Hbar</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-48</integer>
      <key>public.kern2.X</key>
      <integer>-28</integer>
      <key>public.kern2.Y</key>
      <integer>-28</integer>
      <key>public.kern2.Z</key>
      <integer>-4</integer>
    </dict>
    <key>greaterequal</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-32</integer>
    </dict>
    <key>less</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-8</integer>
    </dict>
    <key>lessequal</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-32</integer>
      <key>public.kern2.Y</key>
      <integer>-12</integer>
    </dict>
    <key>logicalnot</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-28</integer>
      <key>public.kern2.V</key>
      <integer>-28</integer>
    </dict>
    <key>multiply</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-24</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-24</integer>
    </dict>
    <key>numbersign</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.Hbar</key>
      <integer>-8</integer>
      <key>public.kern2.O</key>
      <integer>-12</integer>
      <key>public.kern2.X</key>
      <integer>-12</integer>
      <key>public.kern2.Z</key>
      <integer>-12</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
    </dict>
    <key>paragraph</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>80</integer>
    </dict>
    <key>parenright</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-24</integer>
      <key>public.kern2.Y</key>
      <integer>-24</integer>
    </dict>
    <key>percent</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-24</integer>
      <key>public.kern2.Y</key>
      <integer>-24</integer>
    </dict>
    <key>perthousand</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
    </dict>
    <key>plus</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-12</integer>
      <key>public.kern2.Hbar</key>
      <integer>-24</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-32</integer>
      <key>public.kern2.X</key>
      <integer>-28</integer>
      <key>public.kern2.Y</key>
      <integer>-28</integer>
    </dict>
    <key>plusminus</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-24</integer>
      <key>public.kern2.X</key>
      <integer>-12</integer>
      <key>public.kern2.Y</key>
      <integer>-28</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>asciicircum</key>
      <integer>-12</integer>
      <key>asciitilde</key>
      <integer>-8</integer>
      <key>backslash</key>
      <integer>-76</integer>
      <key>dagger</key>
      <integer>-16</integer>
      <key>euro</key>
      <integer>-8</integer>
      <key>less</key>
      <integer>-20</integer>
      <key>numbersign</key>
      <integer>-12</integer>
      <key>one</key>
      <integer>-32</integer>
      <key>paragraph</key>
      <integer>-28</integer>
      <key>plus</key>
      <integer>-12</integer>
      <key>public.kern2.Hbar</key>
      <integer>-12</integer>
      <key>public.kern2.O</key>
      <integer>-24</integer>
      <key>public.kern2.S</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-76</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-72</integer>
      <key>public.kern2.Y</key>
      <integer>-76</integer>
      <key>public.kern2.braceright</key>
      <integer>-44</integer>
      <key>public.kern2.bullet</key>
      <integer>-12</integer>
      <key>public.kern2.degree</key>
      <integer>-52</integer>
      <key>public.kern2.eight</key>
      <integer>-8</integer>
      <key>public.kern2.five</key>
      <integer>-12</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-8</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-12</integer>
      <key>public.kern2.hyphen</key>
      <integer>-12</integer>
      <key>public.kern2.o</key>
      <integer>-8</integer>
      <key>public.kern2.parenleft</key>
      <integer>-52</integer>
      <key>public.kern2.u</key>
      <integer>-12</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.zero</key>
      <integer>-24</integer>
      <key>question</key>
      <integer>-28</integer>
      <key>seven</key>
      <integer>-44</integer>
      <key>trademark</key>
      <integer>-60</integer>
      <key>yen</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>plus</key>
      <integer>-8</integer>
      <key>public.kern2.A</key>
      <integer>-12</integer>
      <key>public.kern2.J</key>
      <integer>-8</integer>
      <key>public.kern2.O</key>
      <integer>-8</integer>
      <key>public.kern2.S</key>
      <integer>-4</integer>
      <key>public.kern2.T</key>
      <integer>-16</integer>
      <key>public.kern2.U</key>
      <integer>-4</integer>
      <key>public.kern2.V</key>
      <integer>-24</integer>
      <key>public.kern2.X</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-32</integer>
      <key>public.kern2.Z</key>
      <integer>-17</integer>
      <key>public.kern2.five</key>
      <integer>-4</integer>
      <key>public.kern2.g</key>
      <integer>-8</integer>
      <key>public.kern2.zero</key>
      <integer>-12</integer>
      <key>seven</key>
      <integer>-8</integer>
      <key>trademark</key>
      <integer>-16</integer>
      <key>underscore</key>
      <integer>-20</integer>
      <key>yen</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>one</key>
      <integer>-12</integer>
      <key>public.kern2.A</key>
      <integer>-4</integer>
      <key>public.kern2.Hbar</key>
      <integer>-16</integer>
      <key>public.kern2.O</key>
      <integer>-8</integer>
      <key>public.kern2.bullet</key>
      <integer>-8</integer>
      <key>public.kern2.five</key>
      <integer>-8</integer>
      <key>public.kern2.hyphen</key>
      <integer>-8</integer>
      <key>public.kern2.idieresis</key>
      <integer>12</integer>
      <key>public.kern2.o</key>
      <integer>-8</integer>
      <key>public.kern2.s</key>
      <integer>-4</integer>
      <key>public.kern2.zero</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>approxequal</key>
      <integer>-12</integer>
      <key>asciitilde</key>
      <integer>-20</integer>
      <key>exclamdown</key>
      <integer>-12</integer>
      <key>four</key>
      <integer>-20</integer>
      <key>greaterequal</key>
      <integer>-28</integer>
      <key>less</key>
      <integer>-20</integer>
      <key>lessequal</key>
      <integer>-24</integer>
      <key>logicalnot</key>
      <integer>-20</integer>
      <key>multiply</key>
      <integer>-32</integer>
      <key>numbersign</key>
      <integer>-24</integer>
      <key>plus</key>
      <integer>-20</integer>
      <key>plusminus</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-44</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-12</integer>
      <key>public.kern2.S</key>
      <integer>-8</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.bullet</key>
      <integer>-20</integer>
      <key>public.kern2.equal</key>
      <integer>-20</integer>
      <key>public.kern2.five</key>
      <integer>-12</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-4</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-8</integer>
      <key>public.kern2.idieresis</key>
      <integer>12</integer>
      <key>public.kern2.idotless</key>
      <integer>-8</integer>
      <key>public.kern2.j</key>
      <integer>-36</integer>
      <key>public.kern2.o</key>
      <integer>-24</integer>
      <key>public.kern2.period</key>
      <integer>-52</integer>
      <key>public.kern2.s</key>
      <integer>-12</integer>
      <key>public.kern2.u</key>
      <integer>-28</integer>
      <key>public.kern2.v</key>
      <integer>-8</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-36</integer>
      <key>public.kern2.zero</key>
      <integer>-8</integer>
      <key>questiondown</key>
      <integer>-28</integer>
      <key>slash</key>
      <integer>-32</integer>
      <key>two</key>
      <integer>-8</integer>
      <key>underscore</key>
      <integer>-88</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-24</integer>
      <key>public.kern2.V</key>
      <integer>-24</integer>
      <key>public.kern2.Y</key>
      <integer>-28</integer>
      <key>public.kern2.braceright</key>
      <integer>-24</integer>
      <key>public.kern2.parenleft</key>
      <integer>-24</integer>
      <key>trademark</key>
      <integer>-32</integer>
    </dict>
    <key>public.kern1.Germandbls</key>
    <dict>
      <key>public.kern2.Hbar</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>asciicircum</key>
      <integer>-80</integer>
      <key>asciitilde</key>
      <integer>-80</integer>
      <key>backslash</key>
      <integer>-80</integer>
      <key>dagger</key>
      <integer>-32</integer>
      <key>euro</key>
      <integer>-28</integer>
      <key>logicalnot</key>
      <integer>-72</integer>
      <key>one</key>
      <integer>-48</integer>
      <key>paragraph</key>
      <integer>-60</integer>
      <key>public.kern2.A</key>
      <integer>12</integer>
      <key>public.kern2.Hbar</key>
      <integer>-16</integer>
      <key>public.kern2.J</key>
      <integer>8</integer>
      <key>public.kern2.O</key>
      <integer>-32</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-112</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-64</integer>
      <key>public.kern2.Y</key>
      <integer>-96</integer>
      <key>public.kern2.braceright</key>
      <integer>-32</integer>
      <key>public.kern2.bullet</key>
      <integer>-16</integer>
      <key>public.kern2.degree</key>
      <integer>-120</integer>
      <key>public.kern2.five</key>
      <integer>-16</integer>
      <key>public.kern2.g</key>
      <integer>-12</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parenleft</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-16</integer>
      <key>public.kern2.v</key>
      <integer>-44</integer>
      <key>public.kern2.zero</key>
      <integer>-48</integer>
      <key>question</key>
      <integer>-40</integer>
      <key>seven</key>
      <integer>-72</integer>
      <key>trademark</key>
      <integer>-120</integer>
      <key>yen</key>
      <integer>-64</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>backslash</key>
      <integer>-8</integer>
      <key>public.kern2.A</key>
      <integer>-28</integer>
      <key>public.kern2.J</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-28</integer>
      <key>public.kern2.V</key>
      <integer>-24</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.braceright</key>
      <integer>-28</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-8</integer>
      <key>public.kern2.parenleft</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-28</integer>
      <key>seven</key>
      <integer>-24</integer>
      <key>slash</key>
      <integer>-12</integer>
      <key>trademark</key>
      <integer>-24</integer>
      <key>underscore</key>
      <integer>-28</integer>
      <key>yen</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>four</key>
      <integer>-16</integer>
      <key>numbersign</key>
      <integer>-16</integer>
      <key>one</key>
      <integer>28</integer>
      <key>public.kern2.A</key>
      <integer>-52</integer>
      <key>public.kern2.Hbar</key>
      <integer>20</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>-12</integer>
      <key>public.kern2.a</key>
      <integer>-16</integer>
      <key>public.kern2.braceright</key>
      <integer>-24</integer>
      <key>public.kern2.degree</key>
      <integer>12</integer>
      <key>public.kern2.g</key>
      <integer>-8</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-8</integer>
      <key>public.kern2.o</key>
      <integer>-8</integer>
      <key>public.kern2.parenleft</key>
      <integer>-4</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
      <key>public.kern2.x</key>
      <integer>12</integer>
      <key>questiondown</key>
      <integer>-32</integer>
      <key>slash</key>
      <integer>-28</integer>
      <key>underscore</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>asciitilde</key>
      <integer>-12</integer>
      <key>less</key>
      <integer>-8</integer>
      <key>logicalnot</key>
      <integer>-12</integer>
      <key>numbersign</key>
      <integer>-8</integer>
      <key>plus</key>
      <integer>-12</integer>
      <key>public.kern2.O</key>
      <integer>-12</integer>
      <key>public.kern2.T</key>
      <integer>-16</integer>
      <key>public.kern2.U</key>
      <integer>-16</integer>
      <key>public.kern2.V</key>
      <integer>-12</integer>
      <key>public.kern2.Y</key>
      <integer>-12</integer>
      <key>public.kern2.a</key>
      <integer>-8</integer>
      <key>public.kern2.braceright</key>
      <integer>-20</integer>
      <key>public.kern2.bullet</key>
      <integer>-12</integer>
      <key>public.kern2.eight</key>
      <integer>-8</integer>
      <key>public.kern2.five</key>
      <integer>-8</integer>
      <key>public.kern2.g</key>
      <integer>-12</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-16</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-16</integer>
      <key>public.kern2.hyphen</key>
      <integer>-12</integer>
      <key>public.kern2.o</key>
      <integer>-16</integer>
      <key>public.kern2.parenleft</key>
      <integer>-16</integer>
      <key>public.kern2.zero</key>
      <integer>-8</integer>
      <key>seven</key>
      <integer>-16</integer>
      <key>trademark</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>numbersign</key>
      <integer>-8</integer>
      <key>public.kern2.A</key>
      <integer>-4</integer>
      <key>public.kern2.O</key>
      <integer>-4</integer>
      <key>public.kern2.T</key>
      <integer>-24</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-12</integer>
      <key>public.kern2.Y</key>
      <integer>-12</integer>
      <key>public.kern2.Z</key>
      <integer>-8</integer>
      <key>public.kern2.braceright</key>
      <integer>-32</integer>
      <key>public.kern2.parenleft</key>
      <integer>-28</integer>
      <key>seven</key>
      <integer>-16</integer>
      <key>yen</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>approxequal</key>
      <integer>-60</integer>
      <key>asciitilde</key>
      <integer>-60</integer>
      <key>braceleft</key>
      <integer>-12</integer>
      <key>florin</key>
      <integer>-48</integer>
      <key>four</key>
      <integer>-56</integer>
      <key>greater</key>
      <integer>-32</integer>
      <key>greaterequal</key>
      <integer>-32</integer>
      <key>less</key>
      <integer>-60</integer>
      <key>lessequal</key>
      <integer>-60</integer>
      <key>logicalnot</key>
      <integer>-60</integer>
      <key>multiply</key>
      <integer>-60</integer>
      <key>numbersign</key>
      <integer>-52</integer>
      <key>one</key>
      <integer>-8</integer>
      <key>parenleft</key>
      <integer>-24</integer>
      <key>plus</key>
      <integer>-60</integer>
      <key>plusminus</key>
      <integer>-60</integer>
      <key>public.kern2.A</key>
      <integer>-72</integer>
      <key>public.kern2.Germandbls</key>
      <integer>-16</integer>
      <key>public.kern2.Hbar</key>
      <integer>-28</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-28</integer>
      <key>public.kern2.S</key>
      <integer>-24</integer>
      <key>public.kern2.a</key>
      <integer>-128</integer>
      <key>public.kern2.bullet</key>
      <integer>-60</integer>
      <key>public.kern2.eight</key>
      <integer>-28</integer>
      <key>public.kern2.equal</key>
      <integer>-36</integer>
      <key>public.kern2.five</key>
      <integer>-32</integer>
      <key>public.kern2.g</key>
      <integer>-84</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-24</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-12</integer>
      <key>public.kern2.hyphen</key>
      <integer>-52</integer>
      <key>public.kern2.idieresis</key>
      <integer>20</integer>
      <key>public.kern2.idotless</key>
      <integer>-52</integer>
      <key>public.kern2.j</key>
      <integer>-32</integer>
      <key>public.kern2.o</key>
      <integer>-84</integer>
      <key>public.kern2.period</key>
      <integer>-68</integer>
      <key>public.kern2.s</key>
      <integer>-88</integer>
      <key>public.kern2.u</key>
      <integer>-88</integer>
      <key>public.kern2.v</key>
      <integer>-44</integer>
      <key>public.kern2.x</key>
      <integer>-56</integer>
      <key>public.kern2.z</key>
      <integer>-88</integer>
      <key>public.kern2.zero</key>
      <integer>-36</integer>
      <key>questiondown</key>
      <integer>-84</integer>
      <key>slash</key>
      <integer>-68</integer>
      <key>sterling</key>
      <integer>-24</integer>
      <key>two</key>
      <integer>-8</integer>
      <key>underscore</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.Thorn</key>
    <dict>
      <key>backslash</key>
      <integer>-8</integer>
      <key>numbersign</key>
      <integer>-12</integer>
      <key>public.kern2.A</key>
      <integer>-24</integer>
      <key>public.kern2.J</key>
      <integer>-28</integer>
      <key>public.kern2.T</key>
      <integer>-64</integer>
      <key>public.kern2.V</key>
      <integer>-32</integer>
      <key>public.kern2.X</key>
      <integer>-28</integer>
      <key>public.kern2.Y</key>
      <integer>-32</integer>
      <key>public.kern2.Z</key>
      <integer>-28</integer>
      <key>public.kern2.a</key>
      <integer>-8</integer>
      <key>public.kern2.braceright</key>
      <integer>-32</integer>
      <key>public.kern2.parenleft</key>
      <integer>-32</integer>
      <key>public.kern2.period</key>
      <integer>-48</integer>
      <key>questiondown</key>
      <integer>-28</integer>
      <key>seven</key>
      <integer>-40</integer>
      <key>slash</key>
      <integer>-12</integer>
      <key>trademark</key>
      <integer>-16</integer>
      <key>underscore</key>
      <integer>-60</integer>
      <key>yen</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-24</integer>
      <key>public.kern2.X</key>
      <integer>-8</integer>
      <key>public.kern2.a</key>
      <integer>-12</integer>
      <key>public.kern2.braceright</key>
      <integer>-16</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-8</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-12</integer>
      <key>underscore</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>approxequal</key>
      <integer>-36</integer>
      <key>asciitilde</key>
      <integer>-48</integer>
      <key>currency</key>
      <integer>-12</integer>
      <key>euro</key>
      <integer>-16</integer>
      <key>florin</key>
      <integer>-48</integer>
      <key>four</key>
      <integer>-44</integer>
      <key>greaterequal</key>
      <integer>-24</integer>
      <key>less</key>
      <integer>-48</integer>
      <key>lessequal</key>
      <integer>-28</integer>
      <key>logicalnot</key>
      <integer>-40</integer>
      <key>multiply</key>
      <integer>-32</integer>
      <key>numbersign</key>
      <integer>-52</integer>
      <key>plus</key>
      <integer>-48</integer>
      <key>plusminus</key>
      <integer>-32</integer>
      <key>public.kern2.A</key>
      <integer>-84</integer>
      <key>public.kern2.Germandbls</key>
      <integer>-24</integer>
      <key>public.kern2.Hbar</key>
      <integer>-12</integer>
      <key>public.kern2.J</key>
      <integer>-12</integer>
      <key>public.kern2.O</key>
      <integer>-36</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>-16</integer>
      <key>public.kern2.a</key>
      <integer>-56</integer>
      <key>public.kern2.bullet</key>
      <integer>-36</integer>
      <key>public.kern2.degree</key>
      <integer>-8</integer>
      <key>public.kern2.eight</key>
      <integer>-32</integer>
      <key>public.kern2.equal</key>
      <integer>-24</integer>
      <key>public.kern2.five</key>
      <integer>-32</integer>
      <key>public.kern2.g</key>
      <integer>-72</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-28</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-32</integer>
      <key>public.kern2.hyphen</key>
      <integer>-24</integer>
      <key>public.kern2.idieresis</key>
      <integer>8</integer>
      <key>public.kern2.idotless</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-48</integer>
      <key>public.kern2.period</key>
      <integer>-48</integer>
      <key>public.kern2.s</key>
      <integer>-44</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.x</key>
      <integer>-24</integer>
      <key>public.kern2.z</key>
      <integer>-24</integer>
      <key>public.kern2.zero</key>
      <integer>-36</integer>
      <key>questiondown</key>
      <integer>-64</integer>
      <key>section</key>
      <integer>-12</integer>
      <key>slash</key>
      <integer>-120</integer>
      <key>sterling</key>
      <integer>-16</integer>
      <key>two</key>
      <integer>-16</integer>
      <key>underscore</key>
      <integer>-52</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>approxequal</key>
      <integer>-8</integer>
      <key>asciicircum</key>
      <integer>-12</integer>
      <key>asciitilde</key>
      <integer>-40</integer>
      <key>backslash</key>
      <integer>-20</integer>
      <key>currency</key>
      <integer>-12</integer>
      <key>euro</key>
      <integer>-12</integer>
      <key>four</key>
      <integer>-16</integer>
      <key>less</key>
      <integer>-32</integer>
      <key>lessequal</key>
      <integer>-12</integer>
      <key>logicalnot</key>
      <integer>-28</integer>
      <key>multiply</key>
      <integer>-20</integer>
      <key>numbersign</key>
      <integer>-4</integer>
      <key>one</key>
      <integer>-16</integer>
      <key>plus</key>
      <integer>-32</integer>
      <key>plusminus</key>
      <integer>-12</integer>
      <key>public.kern2.Hbar</key>
      <integer>-16</integer>
      <key>public.kern2.O</key>
      <integer>-24</integer>
      <key>public.kern2.S</key>
      <integer>-12</integer>
      <key>public.kern2.T</key>
      <integer>-8</integer>
      <key>public.kern2.U</key>
      <integer>-16</integer>
      <key>public.kern2.V</key>
      <integer>-8</integer>
      <key>public.kern2.Y</key>
      <integer>-16</integer>
      <key>public.kern2.a</key>
      <integer>-8</integer>
      <key>public.kern2.braceright</key>
      <integer>-20</integer>
      <key>public.kern2.bullet</key>
      <integer>-24</integer>
      <key>public.kern2.degree</key>
      <integer>-16</integer>
      <key>public.kern2.eight</key>
      <integer>-20</integer>
      <key>public.kern2.equal</key>
      <integer>-12</integer>
      <key>public.kern2.five</key>
      <integer>-28</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-4</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-8</integer>
      <key>public.kern2.hyphen</key>
      <integer>-24</integer>
      <key>public.kern2.o</key>
      <integer>-24</integer>
      <key>public.kern2.s</key>
      <integer>-12</integer>
      <key>public.kern2.u</key>
      <integer>-24</integer>
      <key>public.kern2.v</key>
      <integer>-24</integer>
      <key>public.kern2.z</key>
      <integer>-12</integer>
      <key>public.kern2.zero</key>
      <integer>-28</integer>
      <key>question</key>
      <integer>-28</integer>
      <key>questiondown</key>
      <integer>24</integer>
      <key>seven</key>
      <integer>-12</integer>
      <key>yen</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>approxequal</key>
      <integer>-32</integer>
      <key>asciitilde</key>
      <integer>-24</integer>
      <key>braceleft</key>
      <integer>-24</integer>
      <key>exclamdown</key>
      <integer>-24</integer>
      <key>four</key>
      <integer>-56</integer>
      <key>greater</key>
      <integer>-8</integer>
      <key>greaterequal</key>
      <integer>-12</integer>
      <key>less</key>
      <integer>-28</integer>
      <key>lessequal</key>
      <integer>-32</integer>
      <key>multiply</key>
      <integer>-28</integer>
      <key>numbersign</key>
      <integer>-60</integer>
      <key>parenleft</key>
      <integer>-24</integer>
      <key>plus</key>
      <integer>-32</integer>
      <key>plusminus</key>
      <integer>-28</integer>
      <key>public.kern2.A</key>
      <integer>-68</integer>
      <key>public.kern2.Germandbls</key>
      <integer>-8</integer>
      <key>public.kern2.Hbar</key>
      <integer>-16</integer>
      <key>public.kern2.J</key>
      <integer>-24</integer>
      <key>public.kern2.O</key>
      <integer>-24</integer>
      <key>public.kern2.S</key>
      <integer>-12</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-56</integer>
      <key>public.kern2.bullet</key>
      <integer>-40</integer>
      <key>public.kern2.colon</key>
      <integer>-20</integer>
      <key>public.kern2.eight</key>
      <integer>-28</integer>
      <key>public.kern2.equal</key>
      <integer>-20</integer>
      <key>public.kern2.five</key>
      <integer>-36</integer>
      <key>public.kern2.g</key>
      <integer>-80</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-28</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-32</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.idieresis</key>
      <integer>16</integer>
      <key>public.kern2.idotless</key>
      <integer>-48</integer>
      <key>public.kern2.j</key>
      <integer>-24</integer>
      <key>public.kern2.o</key>
      <integer>-56</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
      <key>public.kern2.s</key>
      <integer>-56</integer>
      <key>public.kern2.u</key>
      <integer>-52</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-40</integer>
      <key>public.kern2.zero</key>
      <integer>-44</integer>
      <key>question</key>
      <integer>-12</integer>
      <key>questiondown</key>
      <integer>-84</integer>
      <key>slash</key>
      <integer>-84</integer>
      <key>two</key>
      <integer>-12</integer>
      <key>underscore</key>
      <integer>-72</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>approxequal</key>
      <integer>-12</integer>
      <key>asciicircum</key>
      <integer>-28</integer>
      <key>asciitilde</key>
      <integer>-20</integer>
      <key>currency</key>
      <integer>-8</integer>
      <key>euro</key>
      <integer>-24</integer>
      <key>four</key>
      <integer>-32</integer>
      <key>less</key>
      <integer>-20</integer>
      <key>lessequal</key>
      <integer>-8</integer>
      <key>logicalnot</key>
      <integer>-20</integer>
      <key>numbersign</key>
      <integer>-16</integer>
      <key>plusminus</key>
      <integer>-12</integer>
      <key>public.kern2.Hbar</key>
      <integer>-8</integer>
      <key>public.kern2.O</key>
      <integer>-28</integer>
      <key>public.kern2.S</key>
      <integer>-12</integer>
      <key>public.kern2.Y</key>
      <integer>-12</integer>
      <key>public.kern2.a</key>
      <integer>-24</integer>
      <key>public.kern2.bullet</key>
      <integer>-24</integer>
      <key>public.kern2.eight</key>
      <integer>-28</integer>
      <key>public.kern2.five</key>
      <integer>-28</integer>
      <key>public.kern2.g</key>
      <integer>-28</integer>
      <key>public.kern2.o</key>
      <integer>-28</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-12</integer>
      <key>public.kern2.zero</key>
      <integer>-40</integer>
      <key>question</key>
      <integer>-12</integer>
      <key>slash</key>
      <integer>-16</integer>
      <key>sterling</key>
      <integer>-8</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-12</integer>
      <key>public.kern2.T</key>
      <integer>-92</integer>
    </dict>
    <key>public.kern1.braceleft</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-44</integer>
      <key>public.kern2.Hbar</key>
      <integer>-24</integer>
      <key>public.kern2.O</key>
      <integer>-28</integer>
      <key>public.kern2.S</key>
      <integer>-28</integer>
      <key>public.kern2.U</key>
      <integer>-12</integer>
      <key>public.kern2.a</key>
      <integer>-32</integer>
    </dict>
    <key>public.kern1.bullet</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-12</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-28</integer>
      <key>public.kern2.X</key>
      <integer>-28</integer>
      <key>public.kern2.Y</key>
      <integer>-32</integer>
      <key>public.kern2.Z</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.colon</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.degree</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-52</integer>
      <key>public.kern2.J</key>
      <integer>-36</integer>
      <key>public.kern2.a</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.eight</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-8</integer>
      <key>public.kern2.O</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-28</integer>
      <key>public.kern2.V</key>
      <integer>-24</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-28</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.equal</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-36</integer>
      <key>public.kern2.V</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.eth</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-24</integer>
      <key>public.kern2.Y</key>
      <integer>-12</integer>
      <key>public.kern2.Z</key>
      <integer>-16</integer>
      <key>public.kern2.a</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>approxequal</key>
      <integer>-20</integer>
      <key>asciitilde</key>
      <integer>-52</integer>
      <key>florin</key>
      <integer>-52</integer>
      <key>four</key>
      <integer>-32</integer>
      <key>less</key>
      <integer>-32</integer>
      <key>lessequal</key>
      <integer>-16</integer>
      <key>logicalnot</key>
      <integer>-52</integer>
      <key>multiply</key>
      <integer>-20</integer>
      <key>numbersign</key>
      <integer>-40</integer>
      <key>plus</key>
      <integer>-48</integer>
      <key>plusminus</key>
      <integer>-16</integer>
      <key>public.kern2.A</key>
      <integer>-44</integer>
      <key>public.kern2.J</key>
      <integer>-16</integer>
      <key>public.kern2.S</key>
      <integer>8</integer>
      <key>public.kern2.V</key>
      <integer>16</integer>
      <key>public.kern2.a</key>
      <integer>-36</integer>
      <key>public.kern2.bullet</key>
      <integer>-40</integer>
      <key>public.kern2.five</key>
      <integer>-12</integer>
      <key>public.kern2.g</key>
      <integer>-56</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-40</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-28</integer>
      <key>public.kern2.hyphen</key>
      <integer>-52</integer>
      <key>public.kern2.j</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-28</integer>
      <key>public.kern2.period</key>
      <integer>-48</integer>
      <key>public.kern2.s</key>
      <integer>-16</integer>
      <key>questiondown</key>
      <integer>-48</integer>
      <key>slash</key>
      <integer>-60</integer>
      <key>underscore</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.five</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-8</integer>
      <key>public.kern2.Hbar</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-16</integer>
      <key>public.kern2.X</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-24</integer>
      <key>public.kern2.Z</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-24</integer>
      <key>public.kern2.Y</key>
      <integer>-24</integer>
      <key>public.kern2.Z</key>
      <integer>-24</integer>
      <key>public.kern2.a</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.guilsinglleft</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-8</integer>
      <key>public.kern2.Y</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.guilsinglright</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-12</integer>
      <key>public.kern2.V</key>
      <integer>-12</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-12</integer>
      <key>public.kern2.T</key>
      <integer>-52</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-12</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>64</integer>
    </dict>
    <key>public.kern1.idieresis</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.V</key>
      <integer>8</integer>
      <key>public.kern2.X</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>12</integer>
      <key>public.kern2.Z</key>
      <integer>8</integer>
    </dict>
    <key>public.kern1.idotless</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-48</integer>
      <key>public.kern2.Z</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>backslash</key>
      <integer>-28</integer>
      <key>public.kern2.Hbar</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-120</integer>
      <key>public.kern2.V</key>
      <integer>-44</integer>
      <key>public.kern2.Y</key>
      <integer>-52</integer>
      <key>public.kern2.braceright</key>
      <integer>-32</integer>
      <key>public.kern2.degree</key>
      <integer>-8</integer>
      <key>public.kern2.parenleft</key>
      <integer>-36</integer>
      <key>public.kern2.v</key>
      <integer>-12</integer>
      <key>public.kern2.x</key>
      <integer>-4</integer>
      <key>question</key>
      <integer>-12</integer>
      <key>seven</key>
      <integer>-40</integer>
      <key>trademark</key>
      <integer>-52</integer>
      <key>yen</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-8</integer>
      <key>public.kern2.Hbar</key>
      <integer>-12</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <integer>-8</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.X</key>
      <integer>-28</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.parenleft</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-52</integer>
      <key>public.kern2.Hbar</key>
      <integer>-16</integer>
      <key>public.kern2.O</key>
      <integer>-48</integer>
      <key>public.kern2.S</key>
      <integer>-28</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-28</integer>
      <key>public.kern2.T</key>
      <integer>-68</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-36</integer>
      <key>public.kern2.Y</key>
      <integer>-68</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-16</integer>
      <key>public.kern2.J</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.Z</key>
      <integer>-12</integer>
      <key>public.kern2.a</key>
      <integer>-24</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.Hbar</key>
      <integer>-4</integer>
      <key>public.kern2.T</key>
      <integer>-84</integer>
      <key>public.kern2.V</key>
      <integer>-36</integer>
      <key>public.kern2.Y</key>
      <integer>-64</integer>
      <key>public.kern2.Z</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.Hbar</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-28</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-24</integer>
      <key>public.kern2.J</key>
      <integer>-12</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.X</key>
      <integer>-8</integer>
      <key>public.kern2.Z</key>
      <integer>-32</integer>
      <key>public.kern2.a</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-48</integer>
      <key>public.kern2.V</key>
      <integer>-8</integer>
      <key>public.kern2.Y</key>
      <integer>-16</integer>
      <key>public.kern2.a</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-4</integer>
      <key>public.kern2.X</key>
      <integer>-8</integer>
      <key>public.kern2.Y</key>
      <integer>-28</integer>
    </dict>
    <key>public.kern1.zero</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-24</integer>
      <key>public.kern2.J</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-36</integer>
      <key>public.kern2.V</key>
      <integer>-36</integer>
      <key>public.kern2.X</key>
      <integer>-24</integer>
      <key>public.kern2.Y</key>
      <integer>-44</integer>
      <key>public.kern2.Z</key>
      <integer>-32</integer>
    </dict>
    <key>question</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-36</integer>
      <key>public.kern2.J</key>
      <integer>-16</integer>
      <key>public.kern2.X</key>
      <integer>-12</integer>
      <key>public.kern2.Y</key>
      <integer>-4</integer>
      <key>public.kern2.Z</key>
      <integer>-24</integer>
      <key>public.kern2.a</key>
      <integer>-16</integer>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>public.kern2.Hbar</key>
      <integer>-12</integer>
      <key>public.kern2.J</key>
      <integer>48</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-76</integer>
      <key>public.kern2.V</key>
      <integer>-44</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
    </dict>
    <key>section</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>80</integer>
      <key>public.kern2.V</key>
      <integer>-16</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-68</integer>
      <key>public.kern2.J</key>
      <integer>-12</integer>
      <key>public.kern2.O</key>
      <integer>-16</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-32</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-68</integer>
      <key>public.kern2.Hbar</key>
      <integer>-12</integer>
      <key>public.kern2.O</key>
      <integer>-12</integer>
      <key>public.kern2.a</key>
      <integer>-32</integer>
    </dict>
    <key>sterling</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-16</integer>
      <key>public.kern2.S</key>
      <integer>-12</integer>
      <key>public.kern2.T</key>
      <integer>-12</integer>
      <key>public.kern2.V</key>
      <integer>-8</integer>
      <key>public.kern2.Z</key>
      <integer>-12</integer>
    </dict>
    <key>trademark</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-16</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-12</integer>
      <key>public.kern2.V</key>
      <integer>-12</integer>
      <key>public.kern2.Y</key>
      <integer>-24</integer>
      <key>public.kern2.Z</key>
      <integer>-12</integer>
    </dict>
    <key>underscore</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>40</integer>
      <key>public.kern2.O</key>
      <integer>-28</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <integer>-12</integer>
      <key>public.kern2.V</key>
      <integer>-48</integer>
      <key>public.kern2.Y</key>
      <integer>-72</integer>
    </dict>
    <key>yen</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-24</integer>
      <key>public.kern2.O</key>
      <integer>-8</integer>
      <key>public.kern2.a</key>
      <integer>-12</integer>
    </dict>
  </dict>
</plist>
